@import "../../variables.modules";

.pink {
  color: $pink;
}

.green {
  color: $green;
}
input, textarea {
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: #27242f;
  color: $white;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}
.skills {
  columns: 1;
  @media only screen and (min-width: 940px) {
    columns: 2;
  }

  li {
    margin: 0;
    line-height: 1.75;
  }
}